{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{setDescription "The details of Katie Wilson’s & Matt Garnes’s wedding."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}

<div id="map" data-map="mattgmg1990.021b195b"></div>

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-secondary">The Maine Event</span>
        <span class="ann-primary">August 20th, 2016</span>
        <span class="ann-secondary">Bridgton, ME</span>
    </h1>

    <ol class="cal l-contain l-grid">
        {{#day "Friday 19"}}
            {{addDayEvent "evening-before"
                start = "6pm"
                end   = "11pm"
                desc  = "Pizza @ The Garnes Condo!"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Saturday 20" primary=true}}
            {{addDayEvent "ceremony"
                start = "4:00pm"
                desc  = "Wedding Ceremony"}}

            {{addDayEvent "reception"
                start = "6pm"
                end   = "10pm"
                desc  = "Reception"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Sunday 21"}}
            {{addDayEvent "lunch"
                start = "12pm"
                end   = "2pm"
                desc  = "Tentative Lunch"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}
    </ol>

    <div class="l-contain">
        <ul class="travel-nav l-grid">
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="p" href="/logistics/">Get There</a>
            </li>
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="b" href="/logistics/hotels/">Stay There</a>
            </li>
        </ul>
    </div>

    <div class="details l-contain">
        <h2 id="evening-before" class="anchored-header">
           Pizza @ The Garnes Condo!
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    If you arrive in Bridgton, Maine by <b>Friday, August 19th</b> we would love for you to meet up with us for pizza and games at the condo Matt's
                    family is renting in Bridgton.
                </p>
            </div>

            <div class="l-grid-u">
                Address to be posted shortly.
                <!--
                <address class="details-content">
                    <b><a href="http://washingtonstreetpub.com/">Washington Street Pub &amp; Oyster Bar</a></b><br>
                    <a href="http://maps.apple.com/?q=20+N+Washington+St.+Easton,+MD+21601">
                        20 N Washington St.<br>
                        Easton, MD 21601
                    </a>
                </address>
                -->
            </div>
        </div>

        <p>
            We'll be having pizza and drinks and hanging out! It should be a lot fun!
        </p>


        <h2 id="ceremony" class="anchored-header">
            Ceremony
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    The wedding ceremony will begin, <em>promptly</em>, on <b>Saturday at 4:00pm</b>. The ceremony and reception will be held at the Noble House Inn:
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <a href="https://goo.gl/maps/Yt8yxHaELNs">
                        <b>Noble House Inn</b><br>
                        81 Highland Rd<br>
                        Bridgton, ME 04009
                    </a>
                </address>
            </div>
        </div>

        <h2 id="reception" class="anchored-header">
            Reception
        </h2>

         <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    A casual reception dinner will be held at the <a href="http://www.twoblackdogspub.com/">Two Black Dogs Country Pub</a> in Fryeburg, ME. This is about a
                    20 minute drive from the Noble House Inn.
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <a href="https://goo.gl/maps/do4jjfpDQmF2">
                        <b>Two Black Dogs Country Pub</b><br>
                        2 Jockey Cap Ln<br>
                        Fryeburg, ME 04037
                    </a>
                </address>
            </div>
        </div>

        <h2 id="lunch" class="anchored-header">
            Tentative Lunch
        </h2>

        <p>
            We are thinking of possibly having a light lunch at the Garnes' condo if anyone is still in town on Sunday! These details to be worked out
            a bit later.
        </p>
    </div>
</div>
